name: ETL Pipeline workflow

on:
  push:
    branches:
      - main

jobs:
  run-etl:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: etl_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U admin"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    defaults:
      run:
        working-directory: etl_project

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Wait for PostgreSQL
        run: |
          sudo apt-get install postgresql-client -y
          for i in {1..20}; do
            pg_isready -h postgres -p 5432 -U admin && break
            echo "Waiting for postgres..."
            sleep 3
          done

      - name: Run ETL script
        run: python ETL_job.py

      - name: Run tests
        run: pytest tests/
        
      - name: Run SQL file
        run: |
          sudo apt-get update
          sudo apt-get install postgresql-client -y
          psql -h localhost -U admin -d etl_db -f queries.sql
        env:
          PGPASSWORD: secret
        working-directory: etl_project

